<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" /> 
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

          
    <!--MOST IMPORTANT BUTTON!-->       
        <ul class="view"><font size = "5">
          <a href="https://forms.gle/Ja6qRX63hWiYSJTE6">Apply here!</a>
         </font></ul>

         <br>

         <!---
         <div style="top:0px;position:relative;"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.5266801901503!2d-0.13815188422948524!3d51.52189907963758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b293a3edde1%3A0x24858e35fec71360!2sThe+Bartlett+Centre+for+Advanced+Spatial+Analysis!5e0!3m2!1sen!2suk!4v1557828284724!5m2!1sen!2suk" width="230" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></div>
         --->

         <iframe width="230" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-0.1373076438903809%2C51.52082893763693%2C-0.13503313064575198%2C51.52293844304403&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=19/51.52188/-0.13617">CASA, 90 Tottenham Court Road, W1t 4TJ</a></small>

      </header>
        

        
    <!--INCLUDES index.md here-->       
      <section>
     {{ content }} 
      </section>
          
  
     
        
        
          
    <!--FOOTER HERE-->          
      <footer>
          
          <img src="assets/img/footerLogos.png">
          
          <p>Funding from the <a href="https://epsrc.ukri.org/about/">EPSRC</a>.<br>
           Hosted by <a href="{{ https://www.ucl.ac.uk/bartlett/casa/ }}"> CASA, UCL</a>.
        <br><small> Centre for Advanced Spatial Analysis<br> &#64;The Bartlett, University College London </small></p>
          
          
          <p><small>Your jolly organisers: <a href="https://twitter.com/Bonnie_0000"> Bonnie, </a> <a href="https://twitter.com/mattnkm"> Matt </a> &amp <a href="https://twitter.com/obi_sargoni"> Obi </a></small></p>
      </footer>
          
          
          
          
          
          
          
          
          
     <!--ANALYTICS - DONT TOUCHIE -->      
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
