<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>




          <p class="view"><big>
          <a href="https://forms.gle/Ja6qRX63hWiYSJTE6">Apply here!</a>
          </big></p>
          
      </header>
      <section>

      {{ content }}

      </section>
          
  
          
          
    <!--FOOTER HERE-->          
      <footer> 
          <img src="/assets/img/EPSRC.png">
          <p>Funding from <a href="https://epsrc.ukri.org/about/">EPSRC</a>.<br>
           Hosted by <a href="{{ https://www.ucl.ac.uk/bartlett/casa/ }}"> CASA, UCL</a>.
        <br><small> Centre for Advanced Spatial Analysis</small></p>
          
          
          <p><small>Your jolly organisers: <a href="https://twitter.com/Bonnie_0000"> Bonnie, </a> <a href="https://twitter.com/mattnkm"> Matt </a> &amp <a href="https://twitter.com/obi_sargoni"> Obi </a></small></p>
      </footer>
          
          
          
          
          
          
          
          
          
     <!--ANALYTICS - DONT TOUCHIE -->      
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
